# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# SMTP
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=cesare@arkitecna.com
SMTP_PASS=
SMTP_FROM_NAME=Stefano Martini | ARKITECNA
SMTP_FROM_EMAIL=cesare@arkitecna.com

# Cron
CRON_SECRET=

# App
NEXT_PUBLIC_APP_NAME=ARKITECNA MAILER
NEXT_PUBLIC_APP_URL=https://emailbulk.vercel.app
